#main-content {

  .block {
    .wrapper {
      max-width: $layout-max-width;
      padding: 20px 10px;
      margin: 0 auto;
      font-size: 12px;

      @include breakpoint($break-small) {
        padding: 40px;
        font-size: 16px;
      }
    }


    h2 {
      text-align: center;
    }
  }

  .block.front-main {
    background-color: $siasar-almost-white;

    .wrapper {
      background: url(../images/background_women_drinking_water.jpg) bottom right no-repeat;
      image-rendering: -webkit-optimize-contrast;
      background-size: 320px auto;
      padding-bottom: 320px;
      padding-top: 20px;

      @include breakpoint($break-small) {
        padding-bottom: 15%;
        background-size: 40% auto;
      }
      @include breakpoint($break-medium) {
        padding-top: 80px;
        padding-bottom: 200px;
        background-size: contain;
      }
    }

    h2 {
      margin-bottom: 0.5em;
      text-align: left;

      @include breakpoint($break-small) {
        max-width: 60%;
      }
      @include breakpoint($break-medium) {
        max-width: 600px;
      }
    }
    p {
      @include breakpoint($break-small) {
        max-width: 60%;
      }
      @include breakpoint($break-medium) {
        max-width: 550px;
      }
    }
  }

  #block-views-success-stories-block {
    background: $siasar-blue;
    display: table;
    position: relative;
    width: 100%;
    padding: 0 20px;
    @include breakpoint($break-small) {
      padding: 0px;
      .wrapper {
        padding-top: 70px;
        padding-bottom: 75px;
        .slick-list {
          max-height: 256px;
        }
      }
    }


    h2 {
      display: none;
    }

    .content {
      margin: 0 auto;
      color: $siasar-light-grey;
    }

    .item {
      margin-bottom: 20px;
      padding-left: 65px;
      min-height: 50px;
      background-position: left top;
      background-size: 50px;
      background-repeat: no-repeat;

      @include breakpoint($break-small) {
        margin: 0;
        width: calc(100% / 3);
        padding: 100px 10px 0;
        background-position: top center;
        background-size: 80px;
        box-sizing: border-box;
      }

      a {
        color: white;
      }

      &:nth-child(3n+1) {
        background-image: url('../images/icons/bulb.png');

        @include breakpoint($break-small) {
          padding-left: 10px;
        }
      }

      &:nth-child(3n + 2) {
        background-image: url('../images/icons/glass.png');
      }

      &:nth-child(3n + 3) {
        background-image: url('../images/icons/orbital.png');
        margin: 0;
        padding-right: 10px;
      }

      h3 {
        color: white;
        font-weight: normal;
        margin-bottom: 0.25em;
      }
    }
    .slick-prev, .slick-next {
      display: block;
      width: 40px;
      height: 40px;
      top: 50%;
      transform: translate(0,-50%);
      border: none;
      background-color: transparent;
      padding: 0;
      margin: 0;
      position: absolute;
      text-indent: -9999px;
      font-size: 0;
      line-height: 0;
      z-index: 2;
      cursor: pointer;
      transition: transform .4s, opacity .4s;
      @include breakpoint($break-small){
        width: 80px;
        height: 80px;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25%;
        height: 25%;
        transition: all .4s;
        border-top: 3px solid #FFFFFF;
      }
    }
    .slick-prev {
      left: -30px;
      @include breakpoint($break-small) {
        left: -50px;
      }
      @include breakpoint($break-large) {
        left: -80px;
      }
      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
        border-left: 3px solid #FFFFFF;
      }
    }
    .slick-next {
      right: -30px;
      @include breakpoint($break-small) {
        right: -50px;
      }
      @include breakpoint($break-large) {
        right: -80px;
      }
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
        border-right: 3px solid #FFFFFF;
      }
    }
  }

  #block-views-country-profiles-block {
    background-color: $siasar-almost-white;
    overflow: auto;

    h2 {
      text-align: center;
      margin: 0 auto 2em;

      @include breakpoint($break-small) {
        width: 60%;
      }
      @include breakpoint($break-medium) {
        width: auto;
        padding-right: 50px;
      }
    }

    .content,
    .view-footer {
      text-align: center;

      @include breakpoint($break-small) {
        text-align: left;
      }
    }
    .view-footer {
      a {
        background: url(../images/icon-partnership.png) no-repeat left center;
        background-size: contain;
        padding: 10px 0px 10px 50px;
      }
    }
    .wrapper {
      @include breakpoint($break-medium) {
        display: table;
        width: 100%;
        padding-bottom: 60px;
      }

      h2,
      .content {
        @include breakpoint($break-medium) {
          display: table-cell;
          float: none;
          vertical-align: top;
        }
      }

      .content {
        margin-bottom: 2.5em;

        @include breakpoint($break-small) {
          width: 60%;
          min-width: 450px;
        }
        @include breakpoint($break-medium) {
          margin-top: 0;
          padding-top: 12px;
          width: 100%;
          max-width: 1280px;
        }

        ul {
          margin: 0 0 2em;
          overflow: auto;

          li {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-bottom: 1em;

            @include breakpoint($break-small) {
              float: left;
              white-space: nowrap;
              width: 50%;
            }
            @include breakpoint($break-medium) {
              width: (100% / 3);
            }
            @include breakpoint($break-medium + 200) {
              width: 25%;
            }

            a {
              display: block;
            }
          }
        }
      }
    }

    .view-footer {
      clear: left;
      padding-top: 40px;
    }

    .content a,
    .view-footer p {
      font-weight: normal;
      font-size: 16px;
      color: $siasar-dark-blue;

      @include breakpoint($break-small) {
        font-size: 21px;
      }
    }
  }

  .block.download-app {
    background-color: $siasar-green;

    h2 {
      color: white;
      margin-bottom: 1em;

      @include breakpoint($break-small) {
        margin-bottom: 0.5em;
      }
    }
    .wrapper {
      background: url('../images/google_pixel_app_mockup.png') no-repeat;
      background-size: 290px auto;
      padding-bottom: 200px;
      background-position: center 215px;
      width: 90%;
      max-width: 360px;

      @include breakpoint($break-small) {
        background-position: 0 60px;
        width: 640px;
        max-width: none;
        padding: 60px 0 0;
      }

      h2,
      .content {
        @include breakpoint($break-small) {
          padding-left: 320px;
          text-align: left;
        }
      }

      .content {
        margin: 0;
        padding-bottom: 40px;
        min-height: 175px;

        @include breakpoint($break-medium) {
          padding-bottom: 60px;
        }
      }
    }
  }

  .block.collaborate {
      background: url(../images/background_world_map_white.png) center center no-repeat white;
      background-size: cover;

    .wrapper {
      padding-top: 75px;
      padding-bottom: 20px;

      h2,
      .content {
        margin-left: auto;
        margin-right: auto;

        @include breakpoint($break-small) {
          width: 60%;
        }
        @include breakpoint($break-medium) {
          width: 100%;
          max-width: $left-box;
        }
      }
    }
  }

  .block.go-data-site {
    height: 280px;
    background-color:  #95d7df;
    background-image: url(../images/background_surface_data.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 200%;
    
    @include breakpoint($break-small) {
      height: 320px;
      background-size: auto 180%;
    }
    @include breakpoint($break-medium) {
      height: 400px;
    }

    .wrapper {
      height: 100%;
      min-height: 150px;
      @include flexboxes_container(center, flex-start, column);

      h2 {
        margin-bottom: 0.5em;
        font-weight: bold;
      }

      .content {
        margin-top: 0;
        margin-bottom: 0;
        min-height: 0;

        p {
          font-size: 1.25em;
        }
      }

      h2,
      div.content {
        text-align: left;
        margin-left: 35%;

        @include breakpoint($break-small) {
          margin-left: 45%;
        }
        @include breakpoint($break-medium) {
          margin-left: 48%;
        }
      }
    }

    a.text-button {
      background: white;
      color: $siasar-blue;
      font-weight: normal;
      margin-top: 1.5em;
      margin-left: 0;
      margin-bottom: 0;

      @include breakpoint($break-medium) {
        margin-top: 2em;
      }
    }
  }

}
